* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-overflow: ellipsis;
}

body {
  height: 100vh;
  overflow: hidden;
}

img {
  object-fit: cover;
}

ul {
  list-style-type: none;
}

button:hover {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid black;
  gap: 20px;
}

.logo {
  margin-left: 10px;
  width: 50px;
  border-radius: 100%;
  border: solid black 1px;
}

.search-bar {
  height: 50px;
  padding: 0 10px;
  min-width: 100px;
  width: calc(100% - 110px);
}

.cart-button {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-height: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  padding: 10px 10px 80px 10px;
}

.left-bar {
  height: 100%;
  padding: 10px 10px 10px 20px;
  min-width: 150px;
  max-width: 400px;
  width: 15%;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.items-container {
  max-height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 0 10px 10px 10px;
}

.item-image {
  height: 200px;
  width: 200px;
}

.item-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 10px;
}

.item-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item-button {
  height: 70px;
  width: 70px;
}
